@page
@model RWM_Database.Pages.Forms.WasteDeclarationFormModel
@{
    ViewData["Title"] = "WasteDeclarationForm";
}


<b>Uploaded Waste Declaration Forms: @Model.WasteForms.Count</b>

<link rel="stylesheet" href="~/css/table.css">
<table id ="styled_table" >
    <tr>
        <th>Declaration Number</th>
        <th>Container Number</th>
        <th>Location</th>
        <th>Description</th>
        <th>Generation Process</th>

    </tr>

    @foreach (var element in @Model.WasteForms)
    {
        var declarationNumber = element.DeclarationNumber;
        var containerNumber = element.ContainerNumber;
        var location = element.Location;
        var description = element.ItemDescription;
        var generationProcess = element.GenerationProcess;
    <tr>
        <td><a href="/Forms/PreviewWasteDeclarationForm?DeclarationNumber=@declarationNumber">@Html.DisplayFor(m => declarationNumber)</a></td>
        <td><a href="/Forms/ViewContainer?ContainerNumber=@containerNumber">@Html.DisplayFor(m => containerNumber)</a></td>
        <td>@Html.DisplayFor(m => location)</td>
        <td>@Html.DisplayFor(m => description)</td>
        <td>@Html.DisplayFor(m => generationProcess)</td>
        </tr>
    }

</table>

<br />
<br />


<b>WasteDeclarationForm</b>
<br>
<br>


<link rel="stylesheet" href="~/css/form.css">
<form class="form" method="post" id="styled_form">

    <label for="DeclarationNumber">Declaration Number:</label>
    <input type="text" id="DeclarationNumber" name="DeclarationNumber"><br><br>

    <label for="ContainerNumber">Container Number:</label>
    <input type="text" id="ContainerNumber" name="ContainerNumber"><br><br>

    <label for="Location">Location:</label>
    <input type="text" id="Location" name="Location"><br><br>

    <label for="ItemDescription">Item Description:</label>
    <input type="text" id="ItemDescription" name="ItemDescription"><br><br>

    <label for="GenerationProcess">Generation Process:</label>
    <select id="GenerationProcess" name="GenerationProcess">
        <option value="special_project">Special Project</option>
        <option value="facility_upgrade">Facility Upgrade</option>
    </select>

    <br><br>

    <input type="submit" value="Submit" asp-page-handler="SubmitButton" />
</form>

