@page
@model RWM_Database.Pages.Forms.CreateContainerModel
@{
    ViewData["Title"] = "Create Container";
}


<b>Containers Available: @Model.ContainerList.Count</b>

<link rel="stylesheet" href="~/css/table.css">
<table id="styled_table">
    <tr>
        <th>Container Number</th>
        <th>Seal Number</th>
        <th>Type</th>

    </tr>

    @foreach (var element in @Model.ContainerList)
    {
        var containerNumber = element.ContainerNumber;
        var sealNumber = element.SealNumber;
        var type = element.Type;
        <tr>
            <td>@Html.DisplayFor(m => containerNumber)</td>
            <td>@Html.DisplayFor(m => sealNumber)</td>
            <td>@Html.DisplayFor(m => type)</td>
        </tr>
    }

</table>

<br />
<br />

<link rel="stylesheet" href="~/css/create_form.css">
<form class="form" method="post" id="create_form">

    <header>Container Information</header>
    <div class="information-container" id="styled_form">
        <label for="ContainerNumber">Container Number:</label>
        <input type="text" id="ContainerNumber" name="ContainerNumber">

        <label for="SealNumber">Seal Number:</label>
        <input type="text" id="SealNumber" name="SealNumber">

        <label for="Type">Type:</label>
        <input type="text" id="Type" name="Type">

        <label for="MaxVolume">Max Volume:</label>
        <input type="text" id="MaxVolume" name="MaxVolume">

    </div>

  

    <input type="submit" value="Create Container" asp-page-handler="SubmitButton" />
</form>