@page
@model RWM_Database.Pages.Forms.CreateContainerModel
@{
    ViewData["Title"] = "Create Container";
}


<link rel="stylesheet" href="~/css/create_form.css">

<b style="font-size: 26px">Container Declaration Form</b>

<form class="form" method="post" id="create_form">

    <header>Container Information</header>
    <div class="information-container" id="styled_form">
        <label for="ContainerNumber">Container Number:</label>

        <div data-tip="@Settings.GetStringSetting("Container_Number_Tip")">

            @{
                var containerNumberFormatLength1 = @Settings.GetIntegerSetting("Container_Number_Format_Length_1");
                var containerNumberFormatLength2 = @Settings.GetIntegerSetting("Container_Number_Format_Length_2");
            }

            <input type="text" id="ContainerNumber" name="ContainerNumber" size="45" required
                   maxlength="@Settings.GetIntegerSetting("Container_Number_Length")"
                   pattern="^[a-zA-Z0-9]{@containerNumberFormatLength1}-\d{@containerNumberFormatLength2}$">
        </div>



        <label for="SealNumber">Seal Number:</label>
        <select id="SealNumber" name="SealNumber">
            @foreach (var sealNumber in @Model.sealTypeMap.Keys)
            {
                <option value="@sealNumber">@Model.sealTypeMap[sealNumber]</option>
            }
        </select>


        <label for="TypeId">Container Type:</label>
        <select id="TypeId" name="TypeId">
            @foreach (int typeId in @Model.containerTypeMap.Keys)
            {
                var typeName = Model.containerTypeMap[typeId];
                <option value="@typeId">@typeName</option>
            }
        </select>

        <label for="DatePacked">Date Packed:</label>
        <div data-tip="@Settings.GetStringSetting("Container_PackedBy_Tip")">
            <input type="date" id="DatePacked" name="DatePacked" required style="width: 25em">
        </div>

        <label for="PackedBy">Packed By:</label>
        <select id="PackedBy" name="PackedBy">
            @foreach (var person in @Model.people)
            {
                <option value="@person.PeopleId">@person.FirstName @person.LastName</option>
            }
        </select>


    </div>

    

    <input type="submit" value="Submit Container" asp-page-handler="SubmitButton" />
</form>
