@page
@model RWM_Database.Pages.Forms.Burial.BurialDashboardModel
@{
    ViewData["Title"] = "BurialDashboard";
}

<link rel="stylesheet" href="~/css/create_form.css">
<form class="form" method="post" id="create_form">

    <header>Search By Field</header>
    <div class="information-container" id="styled_form">

        <label for="SearchBurialNumber">Burial Number:</label>
        <input type="text" id="SearchBurialNumber" name="SearchBurialNumber" />

    </div>

    <input type="submit" value="Search" asp-page-handler="SearchButton" />

    <input type="submit" value="Clear" asp-page-handler="ClearButton" />
</form>


<b >Burials Found: @Model.BurialHandler.BurialList.Count</b>

<link rel="stylesheet" href="~/css/table.css">
<table id="styled_table">
    <tr>
        <th>Burial Number</th>
        <th>Certificate</th>
        <th>Disposal Site</th>
    </tr>
    @{
        var search = Model.BurialHandler.Search;
        var paginatedTable = Model.PaginatedTable;

        int start = (Model.CurrentPage - 1) * paginatedTable.PageSize;
        if (start < 0)
        {
            start = 0;
        }
        for (int i = start; i < start + paginatedTable.PageSize; i++)
        {
            if (i >= Model.BurialHandler.BurialList.Count)
            {
                break;
            }
            var element = Model.BurialHandler.BurialList[i];
            <tr>
                <td><a href="/Forms/Burial/PreviewBurial?BurialId=@element.BurialId">@element.BurialNumber</a></td>
                <td>@element.Certificate</td>
                <td>@element.DisposalSite</td>
            </tr>
        }
    }

</table>

<div>
    <ul class="pagination">
        @for (var i = 1; i <= paginatedTable.TotalPages; i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a href="/Forms/Burial/BurialDashboard?CurrentPage=@i@search.GetURLSearch()" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>


<link rel="stylesheet" href="~/css/create_form.css">
<form class="form" method="post" id="create_form">
    <input type="submit" value="Create Burial" asp-page-handler="CreateButton" />
</form>